TZ="UTC"
NODE_ENV="development"

APP_STAGE="dev"
HOST="0.0.0.0"
PORT="10001"
API_HOST="anchovy-elegant-orca.ngrok-free.app" # 本地可以使用ngrok代理调试hook, 例如: `ngrok http --domain=anchovy-elegant-orca.ngrok-free.app 10001`
JWT_SECRET="" # node -e "console.log(require('crypto').randomBytes(32).toString('base64'));"
DEV_PHONE=""

DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_USER="inspin"
DATABASE_PASS=""
DATABASE_NAME="inspin"
DATABASE_URL="mysql://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"
DATABASE_LOG="true"
