TZ="UTC"
NODE_ENV="development"

APP_STAGE="dev"
HOST="0.0.0.0"
PORT="10001"
JWT_SECRET="change-me-generate-with-crypto-randomBytes"
JWT_SECRET_ADMIN=""
OPENAI_API_KEY=""
OPENAI_BASE_URL="https://api.openai.com/v1"

DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USER="inspin"
DATABASE_PASS="inspin"
DATABASE_NAME="inspin"
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"
DATABASE_LOG="true"
